In [1]:
def myfunction():
  print("hello")
myfunction()

hello

In [2]:
def my_function(fname):#parameter
  print(fname + "dodda")
my_function("lakshmi")#arg

lakshmidodda

In [3]:
def my_function(fname):#parameter
  print( "dodda"+fname)
my_function("lakshmi")#arg

doddalakshmi

In [4]:
def my_function(fname,lname):#parameter
  print( fname + lname)
my_function("lakshmi","dodda")#arg

lakshmidodda

In [5]:
def my_function(fname,lname):#parameter
  print( fname + lname)
my_function("lakshmi")#arg

TypeError: ignored

In [6]:
def my_function(fname,lname):#parameter
  print(  lname + fname )
my_function("lakshmi","dodda")#arg

doddalakshmi

In [7]:
def my_function(fname,lname):#parameter
  print(  lname + fname )
my_function(fname ="lakshmi",lname = "dodda")#arg

doddalakshmi

In [9]:
def my_function(*fname):#parameter
  print(fname[1] )
my_function("lakshmi","dodda")#*arg

dodda

my_function("lakshmi","dodda")#*arg

my_function(fname ="lakshmi",lname = "dodda")#**kwarg

In [10]:
def my_function(**kid):#parameter
  print(kid["lname"] )
my_function(fname ="lakshmi",lname = "dodda")#**kwarg

dodda

In [11]:
def my_country(country = "india"):
  print( " I am From "+ country)
my_country("sweden")
my_country("brazil")
my_country()
my_country("norway")

 I am From sweden
 I am From brazil
 I am From india
 I am From norway

In [12]:
def sum_number(a,b,c):
  print(a+b+c)
sum_number(3,b=2,c=10)

15

In [13]:
def sum_number(a,b,c):
  print(a+b+c)
sum_number(3,a=2,b=10)

TypeError: ignored

In [14]:
def my_food(food):#["apple","banana","orange"]
  for x in food:
    print(x)
fruits = ["apple","banana","orange"]
my_food(fruits)

apple
banana
orange

In [16]:
def my_value(x):
  print(x)
  return 5*x
my_value(5)

5

25

In [17]:
def hello():
  pass

In [18]:
# find the maximu of three numbers
def find_max(a,b,c):
  max_number = max(a,b,c)
  return max_number

num1 = float(input("enter 1st number:"))
num2 = float(input("enter 2nd number:"))
num3 = float(input("enter 3rd number:"))

maximum = find_max(num1,num2,num3)

print(f"the maximum number is  {maximum} ")

enter 1st number:5
enter 2nd number:3
enter 3rd number:6
the maximum number is  6.0

In [19]:
#Factorial number
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
result = factorial(5)
print(result)

120

In [20]:
#Factorial number
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
for i in range(1,6):
  result = factorial(i)
  print(f"factorial of {i}  is {result}")

factorial of 1  is 1
factorial of 2  is 2
factorial of 3  is 6
factorial of 4  is 24
factorial of 5  is 120

In [21]:
def pattren(item):#[2,3,6,5]
  for n in item:
    output = " "
    times = n#2
    while(times>0):#2
      output += "@"# output = output +"@"   @@
      times = times - 1
    print(output)
pattren([2,3,6,5])

 @@
 @@@
 @@@@@@
 @@@@@

In [ ]:
#write a python program to find the total number of even or odd divisors of a given Integer
from IPython.terminal.interactiveshell import Integer
n = inter
0 to n
n%n


15 = 1,3,5,15(1to 15)#4
n%i = 0