In [1]:
# N -1 -N
#N%i=0


def divisor(n):
  x = len([ i for i in range(1,n+1) if not n%i])
  return x
print(divisor(12))#1,2,3,4,6,12

6

In [4]:
def calculate_square(x):
   return x**2
def display_square(x):
  squre = calculate_square(x)
  return f" The square of {x} is {squre}"
number = 5
result = display_square(number)
print(result)

 The square of 5 is 25

In [5]:
def calculate_square(x):
   return x**2
calculate_square(2)

4

In [6]:
#for-[]
for num in range(1,11):
  print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [7]:
while True:
  name = input("enter the name:")
  if name.isalpha():
    print("name:",name)
    break
  else:
    print("name canot be a integer")
    continue

enter the name:123
name canot be a integer
enter the name:lakshmi
name: lakshmi

In [8]:
x= " awesome"
def myfun():
  print("python is "+ x)
myfun()

python is  awesome

In [9]:
x= " awesome"
def myfun():
  x = "fantastic"
  print("python is "+ x)
myfun()
print("python is "+ x)

python is fantastic
python is  awesome

In [10]:
x= " awesome"
def myfun():
  global x
  x = "fantastic"
  print("python is "+ x)
myfun()
print("python is "+ x)

python is fantastic
python is fantastic

In [11]:
global_var = 10
def modify_global():
  global global_var
  global_var = 20
  print(global_var)
modify_global()
print(global_var)

20
20

In [12]:
def outer_function():
  outer_var = 10
  def inner_function():
    outer_var = 20
    print(outer_var)
  inner_function()
  print(outer_var)
outer_function()

20
10

In [14]:
def outer_function():
  outer_var = 10
  def inner_function():
    nonlocal outer_var
    outer_var = 20
    print(outer_var)
  inner_function()
  print(outer_var)
outer_function()

20
20

In [16]:
#x,y,z --- x = y= z = sum ** 3
def sum_thrice(x,y,z):
  sum = x+y+z#1+2+3--1,1,1=3
  if x == y== z:#1==2==3--1==1==1
    sum = sum**3#3**3
  return sum
print(sum_thrice(1,2,3))#6
print(sum_thrice(1,1,1))#27

6
27

In [17]:
# is --is +
def new_string(text):
  if len(text) >= 2 and  text[:2]=="is":
    return text
  return "is"+text
new_string("is empty")

'is empty'

In [18]:
# is --is +
def new_string(text):
  if len(text) >= 2 and  text[:2]=="is":
    return text
  return "is"+text
new_string("IS empty")

'isIS empty'

In [19]:
# is --is +
def new_string(text):
  if len(text) >= 2 and  text[:2]=="is":
    return text
  return "is"+text
new_string("array")

'isarray'

In [21]:
#Palindrome noon = noon
def is_palindrome(s):
  s = s.lower()
  s = ''.join(s.split())
  return s == s[::-1]
text = input("enter a string:")
if is_palindrome(text):
  print(f"{text} is a palindrome")
else:
  print(f"{text} is not a palindrome")

enter a string:n oon
n oon is a palindrome

In [22]:
#Palindrome noon = noon
def is_palindrome(s):
  s = s.lower()
  return s == s[::-1]
text = input("enter a string:")
if is_palindrome(text):
  print(f"{text} is a palindrome")
else:
  print(f"{text} is not a palindrome")

enter a string:noon
noon is a palindrome