In [1]:
##iter
#iterable
#iterator

In [ ]:
#iteration

In [2]:
##iterable
list1 = [1,2,3,45,2,3,4]
for i in list1:
  print(i)

1
2
3
45
2
3
4

In [3]:
i = 0
while i<len(list1):
  print(list1[i])
  i = i+1

1
2
3
45
2
3
4

In [13]:
#iterator
list1 = [1,2,3,4,5,6,7]
myit = iter(list1)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

1
2
3
4
5
6
7

StopIteration: ignored

In [18]:
class mynumber:
  def __iter__(self):
    self.a = 1
    return self
  def __next__(self):
    x = self.a
    self.a +=1
    return x

myclass = mynumber()
myiter  = iter(myclass)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5
6
7
8

In [26]:
class mynumber:
  def __iter__(self):
    self.a = 1
    return self
  def __next__(self):
    if self.a <=5:
       x = self.a
       self.a +=1
       return x
    else:
      raise StopIteration

myclass = mynumber()
myiter  = iter(myclass)
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

StopIteration: ignored

In [27]:
class mynumber:
  def __iter__(self):
    self.a = 1
    return self
  def __next__(self):
    if self.a <=5:
       x = self.a
       self.a +=1
       return x
    else:
      raise StopIteration

myclass = mynumber()
myiter  = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5

In [29]:
try:
  list1 = [1,2,3,4,5,6,7]
  myiter = iter(list1)
  print(next(myiter))
  print(next(myiter))
  print(next(myiter))
  print(next(myiter))
  print(next(myiter))
  print(next(myiter))
  print(next(myiter))
  print(next(myiter))
Exception:
  print("StopIteration: ")
finally:
print("end")

SyntaxError: ignored

In [31]:
dict = {"brand":"car",
        "model": "2seater",
        "year" : 2012}
print(dict)

{'brand': 'car', 'model': '2seater', 'year': 2012}

In [32]:
print(len(dict))

3

In [33]:
print(type(dict))

<class 'dict'>

In [34]:
dict = {"brand":"car",
        "model": "2seater",
        "year" : 2012,
        "color": ["red","white","black"]}
print(dict)

{'brand': 'car', 'model': '2seater', 'year': 2012, 'color': ['red', 'white', 'black']}

In [35]:
x = dict["model"]
print(x)

2seater

In [37]:
y = dict.get("model")
print(y)

2seater

In [38]:
x = dict.keys()
print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [39]:
y = dict.values()
print(y)

dict_values(['car', '2seater', 2012, ['red', 'white', 'black']])

In [40]:
z = dict.items()
print(z)

dict_items([('brand', 'car'), ('model', '2seater'), ('year', 2012), ('color', ['red', 'white', 'black'])])

In [41]:
for x,y in dict.items():
  print(x,y)

brand car
model 2seater
year 2012
color ['red', 'white', 'black']

In [42]:
dict["year"] = 2020
print(dict)

{'brand': 'car', 'model': '2seater', 'year': 2020, 'color': ['red', 'white', 'black']}

In [43]:
dict["whells"] = 2
print(dict)

{'brand': 'car', 'model': '2seater', 'year': 2020, 'color': ['red', 'white', 'black'], 'whells': 2}

In [44]:
dict.update({"year":2023})
print(dict)

{'brand': 'car', 'model': '2seater', 'year': 2023, 'color': ['red', 'white', 'black'], 'whells': 2}

In [45]:
dict.update({"move":"drive"})
print(dict)

{'brand': 'car', 'model': '2seater', 'year': 2023, 'color': ['red', 'white', 'black'], 'whells': 2, 'move': 'drive'}

In [46]:
dict.pop("whells")
print(dict)

{'brand': 'car', 'model': '2seater', 'year': 2023, 'color': ['red', 'white', 'black'], 'move': 'drive'}

In [47]:
dict.popitem()
print(dict)

{'brand': 'car', 'model': '2seater', 'year': 2023, 'color': ['red', 'white', 'black']}

In [48]:
del dict["color"]
print(dict)

{'brand': 'car', 'model': '2seater', 'year': 2023}

In [49]:
dict.clear()
print(dict)

{}

In [54]:
dict0 = {"brand":"car",
        "model": "2seater",
        "year" : 2012}
dict1 = dict0

dict3 = dict0.copy()

print(dict0)
print("*******")
print(dict1)


print("*******")
print(dict3)

{'brand': 'car', 'model': '2seater', 'year': 2012}
*******
{'brand': 'car', 'model': '2seater', 'year': 2012}
*******
{'brand': 'car', 'model': '2seater', 'year': 2012}

In [55]:
family = {"child1":{
                    "year":2007,
                    "name":"ram"},
          "child2":{
                    "year":2010,
                    "name":"lakshmi"},
          "child3":{
                    "year":2012,
                    "name":"hari"}
          }

print(family)

{'child1': {'year': 2007, 'name': 'ram'}, 'child2': {'year': 2010, 'name': 'lakshmi'}, 'child3': {'year': 2012, 'name': 'hari'}}

In [56]:
child1 ={
       "year":2007,
       "name":"ram"}
child2 ={
        "year":2010,
        "name":"lakshmi"}
child3 ={
         "year":2012,
         "name":"hari"}

family ={
          "child1":child1,
          "child2":child2,
          "child3":child3

}

print(family)

{'child1': {'year': 2007, 'name': 'ram'}, 'child2': {'year': 2010, 'name': 'lakshmi'}, 'child3': {'year': 2012, 'name': 'hari'}}

In [58]:
print("lakshmi \n durga")

lakshmi
 durga

In [59]:
print('it\'s alright')

it's alright

In [60]:
print('it \\ s alright')

it \ s alright

In [61]:
print("#")

#

In [63]:
print("lakshmi\t\tdurga")

lakshmi		durga

In [65]:
print("lakshmi \bdurga")

lakshmi durga

In [66]:
def sum_even(list):
  sum = 0
  for i in list:
    if i%2 == 0:
         sum+=i
  return sum

list = [1,2,3,4,5,6]
var = sum_even(list)
print(var)

12

In [67]:
x = lambda a : a +10
print(x(10))

20

In [68]:
def myfun(n):
  return lambda a : a*n

mylist = myfun(3)
print(mylist(10))

30