**1.Create a class Person with attributes name and age. Instantiate an object and print its details.**

In [39]:
class person:
  def __init__(self,name,age):
    self.age = age
    self.name = name
  def __str__(self):
    return f"name: {self.name} \n age:{self.age}"

p1 = person("lakshmi",25)
print(p1)

name: lakshmi
 age:25

In [77]:
class person:
  def __init__(self,name,age):
    self.age = age
    self.name = name
  def printname(self):
    return f"name: {self.name} \n age:{self.age}"

p1 = person("lakshmi",25)
print(p1)
print(p1.printname())

<__main__.person object at 0x7f507cdc8400>
name: lakshmi
 age:25

**2.Define a base class Shape with a method area. Create a subclass Circle that inherits from Shape and calculates the area.**

In [45]:
class shape:
  def area(self):
    pass

class circle(shape):
  def __init__(self,radius):
    self.radius = radius
  def area(self):
    return 3.14*self.radius**2

c1 = circle(4)

print(c1.area())

50.24

**3.Design a class Student with private attributes name and age. Provide methods to set and get these attributes.**

In [55]:
class student:
  def __init__(self,name,age):
    self.__name = name
    self.__age = age
  def set_name(self,name):
    self.__name = name
  def get_name(self):
    return self.__name
  def set_age(self,age):
    self.__age = age
  def get_age(self):
    return self.__age

s1 = student("lakshmi",15)

print(s1.get_name())
print(s1.get_age())


s1.set_name("durga")
s1.set_age(25)

print(s1.get_name())
print(s1.get_age())

lakshmi
15
durga
25

**4.Create a class Animal with a method sound. Derive classes Dog and Cat that override the sound method.**

In [56]:
class animal:
  def sound(self):
    pass

class dog(animal):
  def sound(self):
    return "bowwwwww"
class cat(animal):
  def sound(self):
    return "meow"

dog1 = dog()
cat1 = cat()

print(dog1.sound())
print(cat1.sound())

bowwwwww
meow

**5.Design an abstract class Shape with an abstract method draw. Implement subclasses Circle and Square.**

In [57]:
from abc import ABC,abstractmethod
class shape(ABC):
  @abstractmethod
  def draw(self):
    pass

class circle(shape):
  def draw(self):
    print("drawing a circle")
class square(shape):
  def draw(self):
    print("drawing a square")


circle = circle()
square = square()

circle.draw()
square.draw()

drawing a circle
drawing a square

**6. Create a class Calculator with methods for addition. Allow the add method to accept different numbers of arguments.**

In [64]:
class Calculator:
  def add(self,*arg):#** kwrag
    return sum(arg)

calc = Calculator()
result = calc.add(1,2,4,5,6)
print(result)

18

In [63]:
(l,k,*m) = ("apple","orange","banana","olive")
print(l)
print(k)
print(m)

apple
orange
['banana', 'olive']

**7.Define a class Vector and overload the + operator to perform vector addition.**

In [66]:
class vector:
  def __init__(self,x,y):
    self.x = x
    self.y = y
  def __add__(self,other):
    return vector(self.x+other.x,self.y+other.y)

v1 = vector(1,2)
v2 = vector(3,4)
result = v1 + v2
print (result.x,result.y)

4 6

**8.Create a class MathOperations with a static method multiply to calculate the product of two numbers.**

In [67]:
class mathoperation:
  @staticmethod
  def multiply(a,b):
    return a*b

result = mathoperation.multiply(3,4)
print(result)

12

**9.Create a class Counter with a class variable count that keeps track of the number of instances created.**

In [70]:
class counter:
  count = 0
  def __init__(self):
    counter.count +=1

obj1 = counter()

obj2 = counter()

obj3 = counter()

obj4 = counter()

obj5 = counter()

print(counter.count)

5

**10.Design a class Employee with a class method from_string that creates an instance from a string representation.**

In [74]:
class Employee:
  def __init__(self,name,salary):
    self.name = name
    self.salary = salary
  @classmethod
  def from_strng(cls,employee_string):
    name,salary  = employee_string.split(",")
    return cls(name,int(salary))


emp_str = "john,50000"
emp1 = Employee.from_strng(emp_str)

print(emp1.name)
print(emp1.salary)

john
50000

**11.Create classes A and B. Derive a class C from both A and B to demonstrate multiple inheritances.**

In [76]:
class A:
  def method_a(self):
    print('method  from class a')

class B:
  def method_b(self):
    print('method  from class b')


class C(A,B):
  pass


obj = C()

print(obj.method_a())
print(obj.method_b())

method  from class a
None
method  from class b
None