
#operators

Arithmetic operators(+,-,*,/,%,**,//)

Assignment operators(=,+=,-=,*=,/=,%=,//=,**=,&=,|=,^=,>>=,<<=)

Comparison operators(==,!=,>,<,>=,<=)

Logical operators(and ,or,not)

Identity operators(is ,is not)

Membership operators(in ,not in)

Bitwise operators(& -AND,|-OR,^-XOR,~-NOT,<< -Zero fill left shift,>>-Signed right shift)

#Python I/O

input()

raw_input()


#import

import math-ceil,floor,sqrt,pi

#Namespace

#-single
"""
Multi
"""

In [ ]:
#Arithmetic operators(+,-,/,%,*,//)

In [9]:
x = 15.5
y = 5
Z = x + y
C = x - y
A = x/y
print(x+y)#=15+5
print(Z)
print(C)#15-5
print(A)

20.5
20.5
10.5
3.1

In [10]:
x = 15.5
y = 5
A = x/y
print(A)

3.1

In [12]:
x = 15
y = 2
A = x//y
print(A)

7

In [13]:
x = 15
y = 2
z= x*y
print(z)

30

In [14]:
x = 15
y = 2
z= x**y
print(z)

225

In [15]:
x = 15
y = 2
z= x%y
print(z)

1

In [ ]:
#Assignment operators(=,+=,-=,=,/=,%=,//=,*=,&=,|=,^=,>>=,<<=)

In [16]:
x = 5
x +=3  #x+3=5+3=8     ---X=X+3

print(x)

8

In [17]:
x = 5
x -=3  #x-3=5-3=2     ---X=X-3

print(x)

2

In [18]:
x = 5
x *=3  #=5*3=15     ---X=X*3

print(x)

15

In [19]:
x = 5
x /=3

print(x)

1.6666666666666667

In [20]:
x = 5
x //=3

print(x)

1

In [21]:
#Comparison operators(==,!=,>,<,>=,<=)
x= 7
y= 5
print(x == y)#True or Fale

False

In [22]:
x= 7
y= 5
print(x != y)#True or Fale

True

In [23]:
x= 7
y= 5
print(x > y)#True or False

True

In [29]:
x= 7
y= 5
print(x >= y)#True or False

True

In [24]:
x= 7
y= 5
print(x < y)#True or False

False

In [25]:
x= 7
y= 5
print(x <= y)#True or False

False

In [30]:
#Logical operators(and ,or,not)
x = 5
print(x> 3 and x<10)

True

In [32]:
x = 5
print(x> 6 or x<10)

True

In [33]:
x = 5
print(not(x> 6 or x<10))

False

In [34]:
#Identity operators(is ,is not)
x = ["apple","bananna"]
y = ["apple","bananna"]
z = x
print (x is z)#True
print(x is y)#False
print(x == y)#true

True
False
True

In [35]:
#Identity operators(is ,is not)
x = ["apple","bananna"]
y = ["apple","bananna"]
z = x
print (x is not z)#F
print(x is not y)#T
print(x != y)#F

False
True
False

In [36]:
#Membership operators(in ,not in)

x = ["apple","bananna"]
print("bananna" in x)

True

In [37]:
x = ["apple","bananna"]
print("bananna" not in x)

False

In [39]:
''''
#Bitwise operators(& -AND,
|-OR,
^-XOR,
~-NOT,
<< -Zero fill left shift,>>-Signed right shift)

'''
print(3<<2)# inc
print(8>>2)#dec

12
2

In [40]:
x = 5
print(x> 3 & x<10)#t

print(x> 6 | x<10)#t

True
False

In [42]:
#Python I/O
x = input("enter number:")
print (type(x))

enter number:3
<class 'str'>

In [43]:
x = int(input("enter number:"))
print(x)
print (type(x))

enter number:3
3
<class 'int'>

In [45]:
x = int(input("enter number:"))
print(x)
print (type(x))

enter number:3.6

ValueError: ignored

In [44]:
x = float(input("enter number:"))
print(x)
print (type(x))

enter number:3.6
3.6
<class 'float'>

In [ ]:
# raw_input()

In [47]:
x = int(input())
print(x)
print (type(x))#Abc

-3
-3
<class 'int'>

In [48]:
#import
import math

y = math.sqrt(25)
print(y)

5.0

In [49]:
import math

y = math.ceil(25.5)
x = math.floor(25.5)
print(y)
print(x)

26
25

In [50]:
import math as m

x = m.pi
print(x)

3.141592653589793

In [53]:
x =5#global
def  myfun():
  print(x)
myfun()

5

In [54]:
x =5#global
def  myfun():
  x = 4#local
  print(x)
myfun()

4

In [56]:

def  myfun():
  b = 4#local

myfun()
print(b)

NameError: ignored

In [57]:

def  myfun():
  global b
  b = 4

myfun()
print(b)

4

In [58]:
b = 5
def  myfun():
   b = 4
   print(b)
myfun()
print(b)

4
5

In [59]:
b = 5
b = 4
print(b)

4