In [11]:
#set--group of itemes
#set--- unordered
#set --- duplicate not allowed
myset = {"apple","cherry","orange"}
print(myset)

{'cherry', 'apple', 'orange'}

In [12]:
print(type(myset))

<class 'set'>

In [13]:
myset = {"apple","cherry","orange","apple"}
print(myset)

{'cherry', 'apple', 'orange'}

In [14]:
for i in myset:
  print(i)

cherry
apple
orange

In [15]:
myset = {"apple","cherry","orange",True,1}
print(myset)

{'cherry', True, 'apple', 'orange'}

In [16]:
myset = {"apple","cherry","orange",False,0}
print(myset)

{'cherry', False, 'apple', 'orange'}

In [17]:
print(len(myset))

4

In [18]:
set1 = set(("orange",1,2.5,True))
print(set1)

{1, 2.5, 'orange'}

In [19]:
print("apple" in set1)

False

In [20]:
#add
set1.add("apple")
print(set1)

{1, 2.5, 'apple', 'orange'}

In [21]:
#update()
set2 = {"mango","banana","cherry"}
set1.update(set2)
print(set1)

{'cherry', 1, 2.5, 'mango', 'banana', 'apple', 'orange'}

In [22]:
#remove
set1.remove("banana")
print(set1)

{'cherry', 1, 2.5, 'mango', 'apple', 'orange'}

In [23]:
#discard
set1.discard(1)
print(set1)

{'cherry', 2.5, 'mango', 'apple', 'orange'}

In [25]:
#pop
x = set1.pop()
print(x)
print(set1)

2.5
{'mango', 'apple', 'orange'}

In [26]:
#clear
set1.clear()
print(set1)

set()

In [27]:
print(type([]))

<class 'list'>

In [28]:
print(type(()))

<class 'tuple'>

In [29]:
print(type({}))

<class 'dict'>

In [30]:
print(type(set()))

<class 'set'>

In [ ]:
#{}----empty dict
#set()--empty set

In [31]:
del set1
print(set1)

NameError: ignored

In [32]:
#methods
#union
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [35]:
set3 = (set1|set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [33]:
#intersection
x = {"apple","banana","cherry"}
y = {"google","apple","micro"}
z = x.intersection(y)
print(z)

{'apple'}

In [34]:
z = (x&y)
print(z)

{'apple'}

In [36]:
z = x.difference(y)
print(z)

{'cherry', 'banana'}

In [37]:
z = y.difference(x)
print(z)

{'micro', 'google'}

In [38]:
z = (x-y)
print(z)

{'cherry', 'banana'}

In [40]:
z = x.symmetric_difference(y)
print(z)

{'cherry', 'google', 'micro', 'banana'}

In [41]:
Z = (x^y)
print(Z)

{'cherry', 'google', 'micro', 'banana'}

In [42]:
#is disjoint
x = {"apple","banana","cherry"}
y = {"google","facebook","micro"}
z = x.isdisjoint(y)
print(z)

True

In [43]:
x = {"a","b","c"}
y = {"f","e","d","c","b","a"}
z = x.issubset(y)
print(z)

True

In [45]:
z = y.issuperset(x)
print(z)

True

In [47]:
list1 = [1,2,3,45,1,6,True,False]
set1 = set(list1)
list1 = list(set1)
print(list1)

[False, 1, 2, 3, 6, 45]

In [48]:
x = list(set(list1))
print(x)

[False, 1, 2, 3, 6, 45]

In [49]:
x = ["a","b",1,2,100,1000]
y = ("a",1,2,3,4)
z = set(x)
p = set(y)
var1 = p.intersection(z)
print(var1)

{'a', 1, 2}

In [50]:
z = set(x).intersection(set(y))
print(z)

{'a', 1, 2}

In [51]:
x = [1,2,3,6,4]
y = (x,"y","z",1,2,3)
x[0] = 100
print(y)

([100, 2, 3, 6, 4], 'y', 'z', 1, 2, 3)

In [52]:
x = [1,2,3,6,4]
y = [1,2,5,8,9,7]
z = list(set(x).union(set(y)))
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
def is_prime(num):#1,2,3,5,7,11
  if num <=1:
    return False
  for i in range(2,int(num**0.5)+1):#3.1622=3+1=4(2,4)
    if num%i == 0:
      return False
    return True

is_prime(10)

False

In [56]:
is_prime(11)

True

In [57]:
list = [1,2,3,4,5]
max_var = list[0]
for i in list:
  if i>max_var:#1>1 ---2>1--2-----3>2---3----4>3--4----5>4---5
    max_var = i
print(max_var)

5

In [72]:
list_1 = [1,2,3,4,5]
k = int(input("enter number:"))
max_var = list[0]
list1= []
for i in list_1:
  if i>max_var:#1>1 ---2>1--2-----3>2---3----4>3--4----5>4---5
    max_var = i
    list1.append(max_var)#2,3,4,5
print(list1[-k])

enter number:3
3

In [83]:
def find_max(a,b,c):
  max_number = max(a,b,c)#5,6,7
  return max_number

num1 = float(input("enter 1st number:"))
num2 = float(input("enter 2nd number:"))
num3 = float(input("enter 3rd number:"))

maximum = find_max(num1,num2,num3)

print(f"the maximum number is  {maximum} ")

enter 1st number:1
enter 2nd number:2
enter 3rd number:3
the maximum number is  3.0

In [84]:
def empty():
  print(find_max(1,2,3)*3)
empty()

9

In [79]:
def find_max(a,b,c):
  max_number = max(a,b,c)#5,6,7
  print(max_number)

num1 = float(input("enter 1st number:"))
num2 = float(input("enter 2nd number:"))
num3 = float(input("enter 3rd number:"))

maximum = find_max(num1,num2,num3)

print(f"the maximum number is  {maximum} ")

enter 1st number:1
enter 2nd number:2
enter 3rd number:3
3.0
the maximum number is  None

In [81]:
def empty():
  print(find_max(1,2,3)*6)
empty()

3

TypeError: ignored