In [1]:
print("hello")
print('hello')

hello
hello

In [2]:
a = "hello"
print(a)

hello

In [4]:
b = '''
In mathematics, the quaternion number system extends the complex numbers. Quaternions were first described by the Irish
mathematician William Rowan Hamilton in 1843[1][2] and applied to mechanics in three-dimensional space. Hamilton defined
a quaternion as the quotient of two directed lines in a three-dimensional space,[3] or, equivalently, as the quotient of
 two vectors.[4] Multiplication of quaternions is noncommutative.
 '''

In [5]:
print(b)

In mathematics, the quaternion number system extends the complex numbers. Quaternions were first described by the Irish
mathematician William Rowan Hamilton in 1843[1][2] and applied to mechanics in three-dimensional space. Hamilton defined
a quaternion as the quotient of two directed lines in a three-dimensional space,[3] or, equivalently, as the quotient of
 two vectors.[4] Multiplication of quaternions is noncommutative.

In [7]:
b = """
In mathematics, the quaternion number system extends the complex numbers. Quaternions were first described by the Irish
mathematician William Rowan Hamilton in 1843[1][2] and applied to mechanics in three-dimensional space. Hamilton defined
a quaternion as the quotient of two directed lines in a three-dimensional space,[3] or, equivalently, as the quotient of
 two vectors.[4] Multiplication of quaternions is noncommutative.
 """
print(b)

In mathematics, the quaternion number system extends the complex numbers. Quaternions were first described by the Irish
mathematician William Rowan Hamilton in 1843[1][2] and applied to mechanics in three-dimensional space. Hamilton defined
a quaternion as the quotient of two directed lines in a three-dimensional space,[3] or, equivalently, as the quotient of
 two vectors.[4] Multiplication of quaternions is noncommutative.

In [8]:
a = "hello"
print(a[1])

e

In [9]:
print(a[-1])

o

In [11]:
for x in 'apple':
  print(x)

a
p
p
l
e

In [12]:
print(len("apple"))

5

In [13]:
print(type("apple"))

<class 'str'>

In [14]:
text = " my name is lakshmi"
print("my" in text)

True

In [15]:
if 'my' in text:
  print("yes")

yes

In [16]:
if 'my' not in text:
  print("no")

In [17]:
b = 'hello,world!'
print(b[6:11])

world

In [18]:
print(b[-5:-2])

orl

In [19]:
print(b.upper())

HELLO,WORLD!

In [20]:
print(b.lower())

hello,world!

In [22]:
print(len("  "))

2

In [31]:
b = "  hello, World!   "

print(b.strip())
print(len(b))

hello, World!
18

In [32]:
print(b.replace("h","J"))

  Jello, World!

In [33]:
a = "hello,world!"
print(a.split(","))

['hello', 'world!']

In [34]:
a = "hello"
b = 'hello'
print(a==b)

True

In [35]:
c = a + b
print(c)

hellohello

In [36]:
c = a +" "+ b
print(c)

hello hello

In [37]:
age = 25
text = "my name is john, i am"+age
print(text)

TypeError: ignored

In [38]:
age = 25
text = "my name is john, i am {}"
print(text.format(age))

my name is john, i am 25

In [39]:
quantity = 3
item = 250
price = 25
myorder = " i want {} pieces of item {} for {} dollars."
print(myorder.format(quantity,item,price))

 i want 3 pieces of item 250 for 25 dollars.

In [40]:
quantity = 3
item = 250
price = 25
myorder = " i want {0} pieces of item {2} for {1} dollars."
print(myorder.format(quantity,price,item))#0,1,2

 i want 3 pieces of item 250 for 25 dollars.

In [41]:
print("hello\n")
print("hello")

hello

hello

In [43]:
print("hello\t",end = "*")
print("hello")

hello	*hello

In [48]:
print("hello," ,"world",sep ="*")

hello,*world

In [49]:
text = "lakshmi"
x = text.capitalize()
print(x)

Lakshmi

In [50]:
y = text.casefold()
print(y)

lakshmi

In [51]:
z = text.center(20)
print(z)

      lakshmi

In [52]:
x= text.count("l")
print(x)

1

In [53]:
text = "hello, welcome to my world"
x = text.endswith("d")
print(x)

True

In [54]:
x = text.index("hello")
print(x)

0

In [55]:
text ="company12"
x = text.isalnum()
print(x)

True

In [57]:
text ="company"
print(text.isalpha())

True

In [58]:
X = "123"
Y = X.isdecimal()
print(Y)

True

In [59]:
str1 = "hello"
print(str1[::-1])

olleh

In [65]:
def count_vowels(input_string):
  vowel = "aeiouAEIOU"
  vowel_count = 0
  for char in input_string:
    if char in vowel:
      vowel_count+=1#0+1 =1--1+1=2
  return vowel_count
input_string = input("enter a string:")
result = count_vowels(input_string)
print(result)

enter a string:Lakshmi
2

In [68]:
def count_vowels(input_string):
  vowel = "aeiouAEIOU"
  vowel_count = 0
  for char in input_string:
    if char in vowel:
      vowel_count+=1#0+1 =1--1+1=2
  print(vowel_count)
count_vowels("Lakshmi")

2