In [ ]:
#list --mutable =update,remove
'''
Store-any data type
Acees
update
add
remove

'''

In [ ]:
#usage:
'''
data storing
tasks-maximum method-max,min,sort,reverse
analyze
handle-flexible
'''

#=,shallow copy,deep copy

In [4]:
a = [1,2,3,4]
b = a
b[0] = 100
print("a ",a)
print("b",b)

a  [100, 2, 3, 4]
b [100, 2, 3, 4]

In [5]:
p = [1,2,3,4]
q = p.copy()
print(p)
print(q)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
q[0] = 100
print ("p", p)
print("q",q)

In [6]:
p = [1,2,3,4,[10,20,30]]
q = p.copy()
print(p)
print(q)

[1, 2, 3, 4, [10, 20, 30]]
[1, 2, 3, 4, [10, 20, 30]]

In [7]:
q[4][0] = 1000
print("p",p)
print("q",q)

p [1, 2, 3, 4, [1000, 20, 30]]
q [1, 2, 3, 4, [1000, 20, 30]]

In [11]:
p = [1,2,3,4,[10,20,30]]
q = p.copy()
q[3] = 99
print("p",p)
print("q",q)

p [1, 2, 3, 4, [10, 20, 30]]
q [1, 2, 3, 99, [10, 20, 30]]

In [12]:
p[2]  = 30
print("p",p)
print("q",q)

p [1, 2, 30, 4, [10, 20, 30]]
q [1, 2, 3, 99, [10, 20, 30]]

In [13]:
import copy
deep_copy = copy.deepcopy(p)
print(deep_copy)

[1, 2, 30, 4, [10, 20, 30]]

In [14]:
deep_copy[4][0] = 1000
print("deep copy",deep_copy)
print("p",p)

deep copy [1, 2, 30, 4, [1000, 20, 30]]
p [1, 2, 30, 4, [10, 20, 30]]

In [15]:
# Tuples
mytuple = ("apple","banana","cherry")#0,1,2,3,--------   -3,-2.-1
print(mytuple)

('apple', 'banana', 'cherry')

In [16]:
print(type(mytuple))

<class 'tuple'>

In [17]:
print(len(mytuple))

3

In [18]:
print(mytuple[0])

apple

In [19]:
print(mytuple[-1])

cherry

In [20]:
print(mytuple[::-1])

('cherry', 'banana', 'apple')

In [21]:
mytuple = ("apple","banana","cherry",1,2.5,False)
print(mytuple[2:5])

('cherry', 1, 2.5)

In [24]:
mytuple[0] = 50
print(mytuple)

TypeError: ignored

In [25]:
del mytuple[0]
print(mytuple)

TypeError: ignored

In [26]:
tuple1 = (1,1,1,1)
print(tuple1)

(1, 1, 1, 1)

In [ ]:
"""
Acess
Slicing
orderer
allow duplicates
add,update,remove --- do not accept

"""

In [ ]:
#formula,values

In [27]:
tuple2 = (1,2,3,41)
tuple2 = (10,20,30,40)
print(tuple2)

(10, 20, 30, 40)

In [28]:
thistuple = tuple((1,2,3,4,5))
print(thistuple)
print(type(thistuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [29]:
y = list(thistuple)
y[1] = 1000
thistuple = tuple(y)
print(thistuple)
print(type(thistuple))

(1, 1000, 3, 4, 5)
<class 'tuple'>

In [30]:
x = list(thistuple)
x.remove(5)
thistuple = tuple(x)
print(thistuple)

(1, 1000, 3, 4)

In [31]:
# un packing
(green,red,blue,yellow) = thistuple
print(green)
print(red)
print(blue)
print(yellow)

1
1000
3
4

In [32]:
(green,red,*blue) = thistuple
print(green)
print(red)
print(blue)

1
1000
[3, 4]

In [33]:
for i in thistuple:
  print(i)

1
1000
3
4

In [34]:
for i in range (len(thistuple)):
  print(thistuple[i])

1
1000
3
4

In [35]:
i = 0
while i <len(thistuple):
  print(thistuple[i])
  i+=1

1
1000
3
4

In [36]:
tuple1 =(1,2,3,4)
tuple2 = ("apple","banana","cherry")
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 'apple', 'banana', 'cherry')

In [37]:
list1 = []
for i in tuple1:
  x = i + 5
  list.append(x)
print(list1)

TypeError: ignored

In [38]:
tuple1 =(1,2,3,4)
tuple2 = tuple1 * 2
print(tuple2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [39]:
q = [1,2,3,4,5]
p = (1,2,3,q)
print(p)
print(q)

(1, 2, 3, [1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]

In [40]:
q[0] = 1000
print(p)

(1, 2, 3, [1000, 2, 3, 4, 5])